@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --blue: #07013A;
    --orange: #FC4F11;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #707070;
    --darkerShade: #333; /* add a value for darkerShade */
  }
.sidebar{
    font-family: poppins;
    transition: width 0.3s;
    border-Right: 1px solid #ccc;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    padding-top: 20px;
    align-items: center;
    opacity: 0.9;
   
}
.item{
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;  
    
}
.item a{
    text-decoration: none;
    width: 100%;
    padding: 7px 18px;
  
}
.text{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--blue);
    opacity: 0.8;
}
.icon{
    color: var(--blue);
    opacity: 0.9;
    
}
.item:hover{
    text-decoration: none;
    color: var(--white);
    background: linear-gradient(to right, var(--blue), var(--orange));
    opacity: 0.7;
}
.item:hover .icon{
    color: var(--white);
}
.item:hover .text{
    color: var(--white);
}
.item .active{
    text-decoration: none;
    color: var(--white);
    background: linear-gradient(to right, var(--blue), var(--orange));
    opacity: 0.95;
}
.item .active .icon{
    color: var(--white);
}
.item .active .text{
    color: var(--white);
}
.profile{
    width: 100%;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    gap: 5px;
}